[class*="horizontal"]
	.list
		+e(item)
			float:left
			margin: 0 1.618em 0 0
.hidden
	display: none
.invisible
	visibility: hidden
	text-indent: -9999em
[class*="--stretchScreen"][class*="--stretchScreen"]
	width: 100%
	margin: 0
[class*="--left"]
	float: left
[class*="--right"]
	float:right
[class*="--clear"]
	clear:both