
/* line 7 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/index.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/stylus/lib/functions/index.styl */

/* line 287 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-moz-keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-webkit-keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-o-keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 226 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 29 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/clearfix.styl */

/* line 30 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/flex.styl */

/* line 29 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */

/* line 29 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/index.styl */

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line undefined : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/size.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/size.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */
div,
article,
main,
header,
footer,
hgroup,
aside,
section {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 7 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */

/* line 12 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */
nav li {
  line-height: inherit;
}

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
html {
  font-size: 1em;
  font-size: 1rem;
  background: #e6e6e6;
}

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
body {
  color: #333;
  line-height: 1.618;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
}

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
dt {
  font-weight: 700;
}

/* line 12 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h1,
h2 {
  font-weight: normal;
}

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h1,
.h1 {
  color: #333;
  color: rgba(0,0,0,0.63);
  font-size: 1.618em;
  line-height: 1.618;
}

/* line 19 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h2,
.h2 {
  font-size: 1.2em;
  margin: 0;
}

/* line 22 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h3,
.h3 {
  font-size: 1.15em;
  color: #556159;
  margin: 0;
}

/* line 26 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h4,
.h4 {
  font-size: 1.012em;
  color: #556159;
}

/* line 29 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h5,
.h5 {
  color: #556159;
  margin: 0.4em 0;
}

/* line 33 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */

/* line 34 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */

/* line 35 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.618em;
  margin-top: 1.618rem;
}

/* line 39 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a {
  color: #b10a32;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 42 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a:visited {
  text-decoration: none;
}

/* line 44 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a:hover,
a:focus {
  color: #333;
}

/* line 46 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a:active {
  color: #333;
}

/* line 48 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
nav a {
  text-decoration: none;
}

/* line 50 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
nav a:hover,
nav a:focus,
nav a:active {
  text-decoration: none;
}

/* line 52 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
ol,
ul {
  padding: 0 1.618em;
}

/* line 54 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
ul li {
  list-style-type: disc;
}

/* line 56 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
ol li {
  list-style-type: decimal;
}

/* line 58 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
nav ul,
nav ol,
nav li {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

/* line 62 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
dt {
  font-size: 1.2em;
  display: inline-block;
}

/* line 65 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
dd {
  display: block;
  margin-left: 1.618em;
  margin-bottom: 0.618em;
}

/* line 69 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote {
  font-style: italic;
  margin: 0 2em;
  quotes: " { " " }";
}

/* line 73 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote:before,
blockquote::before {
  content: " \0093 ";
}

/* line 75 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote:after,
blockquote::after {
  content: " \0094 ";
}

/* line 77 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
p,
li,
blockquote {
  line-height: 1.618;
  margin-bottom: 0.618em;
}

/* line 80 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
p,
li {
  font-size: 1em;
  font-size: 1rem;
}

/* line 82 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote {
  font-size: 1.1em;
}

/* line 84 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
small {
  font-size: 0.85rem;
}

/* line 87 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
em {
  font-style: italic;
}

/* line 90 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
code,
style[contenteditable="true"] {
  font-family: "Courier New", Courier, monospace;
}

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
sup,
sub {
  font-size: 0.75rem;
}

/* line 94 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
sup {
  vertical-align: top;
}

/* line 96 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
sub {
  vertical-align: bottom;
}

/* line 98 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */

/* line 98 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.header--global {
  background: #fff;
}

/* line 5 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.main--global {
  background: #fff;
}

/* line 7 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.footer--global {
  background: #fff;
}

/* line 10 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__hgroup {
  margin-bottom: 0.618em;
}

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.sidebar {
  border: 1px solid #808080;
}

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-header.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-header.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-header.styl */

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-header.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__nav {
  background: #43748f;
}

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-header.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__nav .list__item__link {
  background: #808080;
}

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__hgroup__subtitle {
  margin: -0.618em 0 0 0;
}

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-header.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/005-footer.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table {
  border: 2px solid rgba(86,86,86,0.9);
  margin: 1em auto;
  border-spacing: 0.0625em;
}

/* line 5 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table caption {
  font-size: 0.75em;
  font-style: italic;
}

/* line 8 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table thead [headers] {
  font-size: 0.75em;
}

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table thead th {
  font-size: 0.75em;
  font-family: headingFont;
  text-shadow: 0px 1px 1px rgba(255,250,250,0.9);
}

/* line 15 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table thead th tr:first-child,
table thead th tr:first-child:last-child {
  background: #d1d1d1;
}

/* line 18 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tbody {
  margin: 0.5em 0;
}

/* line 20 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 21 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tbody tr:nth-child(even) {
  background-color: #ddd;
}

/* line 23 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tbody tr:last-child:nth-child(-n+2) {
  background: none;
  border-top: 1px solid #969696;
}

/* line 26 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tr {
  vertical-align: 3em;
  vertical-align: middle;
}

/* line 29 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table td {
  vertical-align: middle;
  padding: 0.8em 1em 0.8em 1em;
}

/* line 32 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table th {
  font-size: 1.25em;
  vertical-align: middle;
  padding: 0.55em 0.618em 0 0.618em;
}

/* line 36 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table th[rowspan] {
  vertical-align: middle;
}

/* line 38 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table th[colspan] {
  text-align: center;
}

/* line 40 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input,
textarea,
select,
option,
button,
label,
fieldset,
legend,
[contenteditable="true"] {
  border: none;
  outline: none;
  background: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input,
button,
textarea,
select,
option {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
}

/* line 15 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input,
textarea,
button {
  background: #fff;
  color: #444;
}

/* line 18 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input:hover,
textarea:hover,
button:hover {
  border-color: #b1b1b1;
}

/* line 20 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input:focus,
textarea:focus,
button:focus,
input:active,
textarea:active,
button:active {
  border-color: #a1a1a1;
}

/* line 23 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
button,
.button {
  background: #d1d1d1;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  font-size: 1em;
  font-size: 1rem;
}

/* line 27 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
button:hover,
.button:hover {
  background: #b1b1b1;
}

/* line 29 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
button:focus,
.button:focus {
  background: #a1a1a1;
}

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */
