
/* line 7 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/standard.main.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/node_modules/stylus/lib/functions/index.styl */

/* line 287 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 221 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-moz-keyframes fadein {

/* line 222 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-webkit-keyframes fadein {

/* line 222 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-o-keyframes fadein {

/* line 222 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@keyframes fadein {

/* line 222 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 226 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/index.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/index.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */

/* line 3 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */
div,
article,
main,
header,
footer,
hgroup,
aside,
section {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 7 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/000-reset.styl */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* line 10 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
html {
  font-size: 1em;
  font-size: 1rem;
  background: #e6e6e6;
}

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
body {
  color: #333;
  line-height: 1.618;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
}

/* line 9 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
dt {
  font-weight: 700;
}

/* line 12 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h1,
h2 {
  font-weight: normal;
}

/* line 14 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h1,
.h1 {
  color: #333;
  color: rgba(0,0,0,0.63);
  font-size: 1.618em;
  line-height: 1.618;
}

/* line 19 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h2,
.h2 {
  font-size: 1.2em;
  margin: 0;
}

/* line 22 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h3,
.h3 {
  font-size: 1.15em;
  color: #556159;
  margin: 0;
}

/* line 26 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h4,
.h4 {
  font-size: 1.012em;
  color: #556159;
}

/* line 29 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
h5,
.h5 {
  color: #556159;
  margin: 0.4em 0;
}

/* line 33 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */

/* line 34 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */

/* line 35 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.618em;
  margin-top: 1.618rem;
}

/* line 39 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a {
  color: #b10a32;
  transition: all 0.2s ease-in-out;
}

/* line 42 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a:visited {
  text-decoration: none;
}

/* line 44 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a:hover,
a:focus {
  color: #333;
}

/* line 46 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
a:active {
  color: #333;
}

/* line 48 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
nav a {
  text-decoration: none;
}

/* line 50 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
nav a:hover,
nav a:focus,
nav a:active {
  text-decoration: none;
}

/* line 52 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
ol,
ul {
  padding: 0 1.618em;
}

/* line 54 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
ul li {
  list-style-type: disc;
}

/* line 56 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
ol li {
  list-style-type: decimal;
}

/* line 58 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
nav ul,
nav ol,
nav li {
  list-style-type: none;
  text-decoration: none;
  line-height: 1;
  padding: 0;
}

/* line 63 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
dt {
  font-size: 1.2em;
  display: inline-block;
}

/* line 66 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
dd {
  display: block;
  margin-left: 1.618em;
  margin-bottom: 0.618em;
}

/* line 70 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote {
  font-style: italic;
  margin: 0 2em;
  quotes: " { " " }";
}

/* line 74 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote:before,
blockquote::before {
  content: " \0093 ";
}

/* line 76 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote:after,
blockquote::after {
  content: " \0094 ";
}

/* line 78 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
p,
li,
blockquote {
  line-height: 1.618;
  margin-bottom: 0.618em;
}

/* line 81 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
p,
li {
  font-size: 1em;
  font-size: 1rem;
}

/* line 83 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
blockquote {
  font-size: 1.1em;
}

/* line 85 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
small {
  font-size: 0.85rem;
}

/* line 88 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
em {
  font-style: italic;
}

/* line 91 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
code,
style[contenteditable="true"] {
  font-family: "Courier New", Courier, monospace;
}

/* line 93 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
sup,
sub {
  font-size: 0.75rem;
}

/* line 95 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
sup {
  vertical-align: top;
}

/* line 97 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/001-brand.styl */
sub {
  vertical-align: bottom;
}

/* line 99 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.header--global {
  background: #fff;
  border-bottom: 5px solid #43748f;
}

/* line 6 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.main--global {
  background: #fff;
}

/* line 8 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.footer--global {
  background: #fff;
  border-top: 5px solid #437484;
}

/* line 12 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__hgroup {
  margin-bottom: 0.618em;
}

/* line 16 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/002-wrappers.styl */
.sidebar {
  border: 1px solid #808080;
}

/* line 18 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-nav.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-nav.styl */

/* line 2 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-nav.styl */

/* line 6 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-nav.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__nav {
  background: #43748f;
}

/* line 9 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/003-nav.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__nav .list__item__link {
  background: #808080;
}

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table {
  border: 2px solid rgba(86,86,86,0.9);
  margin: 1em auto;
  border-spacing: 0.0625em;
}

/* line 5 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table caption {
  font-size: 0.75em;
  font-style: italic;
}

/* line 8 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 9 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table thead [headers] {
  font-size: 0.75em;
}

/* line 11 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table thead th {
  font-size: 0.75em;
  font-family: headingFont;
  text-shadow: 0px 1px 1px rgba(255,250,250,0.9);
}

/* line 15 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 16 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table thead th tr:first-child,
table thead th tr:first-child:last-child {
  background: #d1d1d1;
}

/* line 18 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tbody {
  margin: 0.5em 0;
}

/* line 20 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */

/* line 21 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tbody tr:nth-child(even) {
  background-color: #ddd;
}

/* line 23 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tbody tr:last-child:nth-child(-n+2) {
  background: none;
  border-top: 1px solid #969696;
}

/* line 26 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table tr {
  vertical-align: 3em;
  vertical-align: middle;
}

/* line 29 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table td {
  vertical-align: middle;
  padding: 0.8em 1em 0.8em 1em;
}

/* line 32 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table th {
  font-size: 1.25em;
  vertical-align: middle;
  padding: 0.55em 0.618em 0 0.618em;
}

/* line 36 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table th[rowspan] {
  vertical-align: middle;
}

/* line 38 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/006-tables.styl */
table th[colspan] {
  text-align: center;
}

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input,
textarea,
select,
option,
button,
label,
fieldset,
legend,
[contenteditable="true"] {
  border: none;
  outline: none;
  background: none;
  transition: all 0.2s ease-in-out;
}

/* line 11 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input,
button,
textarea,
select,
option {
  border-radius: 2px;
  border: 1px solid #d1d1d1;
}

/* line 15 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input,
textarea,
button {
  background: #fff;
  color: #444;
}

/* line 18 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input:hover,
textarea:hover,
button:hover {
  border-color: #b1b1b1;
}

/* line 20 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
input:focus,
textarea:focus,
button:focus,
input:active,
textarea:active,
button:active {
  border-color: #a1a1a1;
}

/* line 23 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
button,
.button {
  background: #d1d1d1;
  border-radius: 0.125em;
  font-size: 1em;
  font-size: 1rem;
}

/* line 27 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
button:hover,
.button:hover {
  background: #b1b1b1;
}

/* line 29 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */
button:focus,
.button:focus {
  background: #a1a1a1;
}

/* line 31 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/007-forms.styl */

/* line 2 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/index.styl */

/* line 2 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/index.styl */

/* line 2 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */

/* line 2 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
[class*="horizontal"] .list__item {
  float: left;
  margin: 0 1.618em 0 0;
}

/* line 6 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
.hidden {
  display: none;
}

/* line 8 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
.invisible {
  visibility: hidden;
  text-indent: -9999em;
}

/* line 11 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--stretchScreen"][class*="--stretchScreen"] {
  width: 100%;
  margin: 0;
}

/* line 14 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--left"] {
  float: left;
}

/* line 16 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--right"] {
  float: right;
}

/* line 18 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--clear"] {
  clear: both;
}

/* line 20 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
html {
  width: 100%;
}

/* line 3 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 10 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */

/* line 7 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.footer--global,
.main--global,
.header--global {
  width: 60em;
  width: 61.8vw;
  margin: 0 auto;
  margin: 0 auto;
}

/* line 16 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
.sidebar {
  width: 20%;
}

/* line 19 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
.main {
  min-height: 20rem;
  min-height: 61.8vh;
}

/* line 24 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
.footer {
  min-height: 5em;
}

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 26 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.nav__list {
  width: 100%;
  height: 100%;
}

/* line 5 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.nav .list__item__link {
  display: block;
  padding: 0.618em;
}

/* line 10 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__nav {
  height: 2.5em;
}

/* line 31 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/index.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-flex/index.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-flex/004-nav.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/002-tablet/index.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 226 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/003-desktop/index.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/index.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/003-components/index.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 13 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/003-components/002-editor.styl */

/* line 1 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/003-components/002-editor.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.explorer__editor__form {
  padding: 0.618em;
  background: #efefef;
}

/* line 7 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/003-components/002-editor.styl */
.editForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.618em;
}

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.editForm__title {
  font-size: 1.25em;
  padding: 0.618em;
  width: 100%;
  margin: 1.618rem 0;
}

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.editForm__text {
  padding: 0.618rem;
  min-height: 15em;
  width: 100%;
}

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.editForm__inputs {
  flex-grow: 1;
  flex-shrink: 0;
}

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.editForm__controls {
  flex-shrink: 0;
  flex-grow: 0;
}

/* line 4 : /Users/paceaux/Dropbox (Personal)/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.editForm__tags {
  background: #e9e9e9;
}
