
/* line 7 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/index.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/stylus/lib/functions/index.styl */

/* line 287 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-moz-keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-webkit-keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@-o-keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 221 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
@keyframes fadein {

/* line 222 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  0% {
    color: rgba(68,68,68,0.01);
  }

/* line 224 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
  100% {
    color: #444;
  }
}

/* line 226 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/clearfix.styl */

/* line 30 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/flex.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/reset.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/index.styl */

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line undefined : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/size.styl */

/* line 31 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/node_modules/nib/lib/nib/size.styl */

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/index.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/index.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */

/* line 2 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
[class*="horizontal"] .list__item {
  float: left;
  margin: 0 1.618em 0 0;
}

/* line 6 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
.hidden {
  display: none;
}

/* line 8 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
.invisible {
  visibility: hidden;
  text-indent: -9999em;
}

/* line 11 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--stretchScreen"][class*="--stretchScreen"] {
  width: 100%;
  margin: 0;
}

/* line 14 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--left"] {
  float: left;
}

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--right"] {
  float: right;
}

/* line 18 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/001-core.styl */
[class*="--clear"] {
  clear: both;
}

/* line 20 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
html {
  width: 100%;
}

/* line 3 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 10 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */

/* line 7 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.footer--global,
.main--global,
.header--global {
  width: 60em;
  width: 61.8vw;
  margin: 0 auto;
  margin: 0 auto;
}

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
.sidebar {
  width: 20%;
}

/* line 19 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
.main {
  min-height: 20rem;
  min-height: 61.8vh;
}

/* line 24 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/002-global.styl */
.footer {
  min-height: 5em;
}

/* line 26 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/003-header.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/003-header.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.header__nav {
  height: 2.5em;
}

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 1 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.nav__list {
  width: 100%;
  height: 100%;
}

/* line 5 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */

/* line 4 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/vars.styl */
.nav .list__item__link {
  display: block;
  padding: 0.618em;
}

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/001-default/004-nav.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/002-layout/002-tablet/index.styl */

/* line 16 : /Users/franktaylor/Dropbox/Google Drive/Web Pieces/CMSPutty/private/css/001-brand/004-sidebar.styl */
