global-reset()

div, article, main, header, footer, hgroup, aside, section
	display: block
	margin: 0
	padding: 0
h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li
	margin:0
	padding: 0

nav
	li
		line-height: inherit