.header--global
	background: white
	border-bottom: 5px solid #43748f


.main--global
	background: white
.footer--global
	background: white
	border-top: 5px solid #437484

.header
	+e(hgroup)
		margin-bottom: .618em

.sidebar
	border: 1px solid gray