nav
	li
		transitionize()
			&:hover, &:focus, &:active
				color: #333
.header
	+e(nav)
		background: #43748f
		.list
			+e(item)
				+e(link)
					background: gray
	+e(hgroup)
		+e(subtitle)
			margin: -.618em 0 0 0