/*Size Vars*/
$large = 20px
$medium = 10px
$small = 5px
$none = 0




/*
First set of letters:
p = padding
m = margin

Second set of letters:
l = left
r = right
t = top
b = bottom
h = horizontal
v = vertical
a = all

Third set of letters:

l = large (20px)
m = medium (10px)
s = small (5px)
n = none (0)

*/

.pll, .phl, .pal 
	padding-left: $large;

.prl, .phl, .pal 
	padding-right: $large;

.ptl, .pvl, .pal 
	padding-top: $large;

.pbl, .pvl, .pal 
	padding-bottom: $large;

.plm, .phm, .pam 
	padding-left: $medium;

.prm, .phm, .pam 
	padding-right: $medium;

.ptm, .pvm, .pam 
	padding-top: $medium;

.pbm, .pvm, .pam 
	padding-bottom: $medium;

.pls, .phs, .pas 
	padding-left: $small;

.prs, .phs, .pas 
	padding-right: $small;

.pts, .pvs, .pas 
	padding-top: $small;

.pbs, .pvs, .pas 
	padding-bottom: $small;

.pln, .phn, .pan 
	padding-left: $none;

.prn, .phn, .pan 
	padding-right: $none;

.ptn, .pvn, .pan 
	padding-top: $none;

.pbn, .pvn, .pan 
	padding-bottom: $none;



.mll, .mhl, .mal 
	margin-left: $large;

.mrl, .mhl, .mal 
	margin-right: $large;

.mtl, .mvl, .mal 
	margin-top: $large;

.mbl, .mvl, .mal 
	margin-bottom: $large;

.mlm, .mhm, .mam 
	margin-left: $medium;

.mrm, .mhm, .mam 
	margin-right: $medium;

.mtm, .mvm, .mam 
	margin-top: $medium;

.mbm, .mvm, .mam 
	margin-bottom: $medium;

.mls, .mhs, .mas 
	margin-left: $small;

.mrs, .mhs, .mas 
	margin-right: $small;

.mts, .mvs, .mas 
	margin-top: $small;

.mbs, .mvs, .mas 
	margin-bottom: $small;

.mln, .mhn, .man 
	margin-left: $none;

.mrn, .mhn, .man 
	margin-right: $none;

.mtn, .mvn, .man 
	margin-top: $none;

.mbn, .mvn, .man 
	margin-bottom: $none;



/*Colors (shows 7 colors)*/

.neutralLightest 
	color: $neturalLightest;

.neutralLightestBg 
	background-color: $neturalLightest;

.neutralDarkest 
	color: $neutralDarkest;

.neutralDarkestBg 
	background-color: $neutralDarkest;



.warmDarkest 
	color: $warmDarkest;

.warmDarkestBg 
	background-color: $warmDarkest;

.warmLight 
	color: $warmLight;

.warmLightBg 
	background-color: $warmLight;

.warmLighter 
	color: $warmLighter;

.warmLighterBg 
	background-color: $warmLighter;

.warmLightest 
	color: $warmLightest;

.warmLightestBg 
	background-color: $warmLightest;



.coolDarkest 
	color: $coolDarkest;

.coolDarkestBg 
	background-color: $coolDarkest;

